/* ================= COLOR SCHEME ================= */
:root {
    --primary: #4E9F3D;   /* Green */
    --accent: #FF8400;    /* Orange */
    --bg-color: #FFF9F0;  /* Cream / Off-white */
    --text-dark: #1a1a1a;
}

/* Background */
body {
    background-color: var(--bg-color);
    /*Left to right - changes font based on OS, Segoe UI is windows font, if not on windows tahoma, geneva or verdana and if neither then use sans-serif*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Brand Text (Logo) */
.brand-text {
    color: var(--primary) !important /* !important basically forces this colour over bootstrap choice*/;
    font-size: 1.5rem;
}

/* Custom Button (Replaces Bootstrap Primary) */
.btn-custom, .btn-primary {
    background-color: var(--accent);
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.btn-custom:hover, .btn-primary:hover {
    background-color: #e67700; /* Darker Orange on hover */
    transform: translateY(-2px); /* Slight lift effect */
    color: white;
}

/* Input Box Styling */
.form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(78, 159, 61, 0.25); /* Green Glow */
}